*, * ::before, *::after{
    box-sizing:border-box;
    font-family: 'Nova Slim', cursive;
    font-weight:bolder;
    }
body{
    padding:0;
    background:#1e1e1e;
    color:#cfffae;
}

.title{
    font-family: 'Nova Slim', cursive;
    font-size:40px;
}
.calculator-grid{
    display:grid;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    grid-template-columns:repeat (4, 100px);
    grid-template-rows:repeat (5, 100px);
}


/* @media all and (max-width: 700px){
    .title{
        font-size: 25px;   
    }
} */
@media all and (max-width: 400px){
    .title{
        font-size: 18px;   
    }
}